#se-2{

    height: 400px;
    width: 1400px;

}


/* You can use bootstrap icon font froom thir website followed steps
 you just past bootstrap icon css link to your <head>
 now if font are not display properly then set the font-family for the icon to use it
 refrence: https://www.geeksforgeeks.org/how-to-add-icons-in-project-using-bootstrap/ */



  